// існує похибка в верстці десь на 18 рх за рахунок mb за замовчуванням,  за різного line-height. 

.promo {
    margin-top: 105px;
    min-height: 511px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__challenge {
        width: 572px;
     //   min-height: 511px; // наявність під питанням?
    }
    &__subtitle {
        margin-top: 20px;
        margin-bottom: 0;
        height: 31px;
    }
    &__title {
        margin-top: 28px;
    }
    &__descr {
        margin-top: 30px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #475467;
    }
    &__buttons {
        margin-top: 42px;
        display: flex;
        justify-content: start;
    }
    &__results {
        margin-top: 56px;
        display: flex;
        justify-content: space-between;
        width: 428px;
    }
    &__project {
        display: flex;
        justify-content: space-between;
        &-img {
            width: 70px;
            height: 70px;
            margin-right: 9px;
            img {
                width: 100%;
            }
        }
        &-amount {
            padding-top: 11px;
            span {
                display: block;
            }
        }
    }
    &__customers {
        display: flex;
        justify-content: space-between;
        &-img {
            width: 70px;
            height: 70px;
            margin-right: 9px;
            img {
                width: 100%;
            }
        }
        &-amount {
            padding-top: 11px;
            span {
                display: block;
            }
        }
    }
    &__watch {
        position: relative;
        width: 428px;
        &-item {
            position: absolute;
            top: 105px;
            right: 103px;
            width: 325px;
            height: 350px;
            img {
                width: 100%;
            }
        }
    }
    &__market {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 206px;
        height: 163px;
        img {
            position: absolute;
            width: 122%;
            height: 127%;
            right: -23px;
            bottom: -22px;
            object-fit: contain;
        }
    }
    &__elipseBlue {
        position: absolute;
        width: 46px;
        height: 46px;
        right: 124px;
        top: 0;
        border-radius: 100%;
        background: rgba(190, 225, 230, 0.85);
    }
    &__elipsePeachy {
        position: absolute;
        width: 69px;
        height: 69px;
        left: -69px;
        top: 95px;
        border-radius: 100%;
        background: #FFDDD2;
    }
    &__elipsePeachySmall {
        position: absolute;
        width: 46px;
        height: 46px;
        left: -8px;
        top: 409px;
        border-radius: 100%;
        background: #FFDDD2;
    }
}